.delta_tables th {
    font-weight: 800;
    color: #ffffff;
    background: purple;
}

.delta_tables input:focus {
    border-color: purple;
    background-color: #E1D5E7;
}

.delta_tables button {
    box-shadow: inset 0 0 0 1px purple;
}

.delta_tables button:hover {
    color: #222;
    background-color: #E1D5E7;
}