.delta_tables th {
    font-weight: 800;
    color: #ffffff;
    background: #6D72ED;
}

.delta_tables input:focus {
    border-color: #6D72ED;
    background-color: #E1D5E7;
}

.delta_tables button {
    box-shadow: inset 0 0 0 1px #6D72ED;
}

.delta_tables button:hover {
    color: #222;
    background-color: #E1D5E7;
}